<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Warehouse Search</title>
</head>

<body>
    <header>

        <div class="grid-container">
            <div class="home-container">
                <button onclick="location.href='/home'" type="button">Home</button>
            </div>
            <div class="search-container">
                <form action="{{ url_for('search_products') }}" method="get">
                    <input type="text" placeholder="Search" name="search" value="{{ search_term }}">
                    <button type="submit"><i class="fa fa-search" aria-label="Search"></i></button>
                </form>
            </div>
            <div class="insert-container">
                <button onclick="location.href='/insert'" type="button">Insert</button>
            </div>
        </div>
        <div class="grid-container">
            <div class="box-search">
                <a href="#สินค้าดี" class="button-link">สินค้าดี</a>
                <a href="#สินค้าเสีย" class="button-link">สินค้าเสีย</a>
                <a href="#สินค้ายอดนิยม" class="button-link">สินค้ายอดนิยม</a>
            </div>
        </div>
    </header>

    <!-- Categories Section -->
    <section class="categories">
        <h2>Categories</h2>
        <div class="category-buttons">
            {% for category in categories %}
            <form action="/category/{{ category_name }}" method="get">
                <button type="submit" class="category-button" >{{ category['category_name'] }}</button>
            </form>
            {% endfor %}            
        </div>
    </section>


    <section class="product-grid">
        {% for product in products %}
        <div class="product-box">
            <img src="{{ url_for('static', filename=product.image) }}" alt="{{ product.product_name }}"
                class="product-image">
            <div class="product-details">
                <h4>{{ product.product_name }}</h4>
                <p><strong>Quantity:</strong> {{ product.quantity }}</p>

            </div>
        </div>
        {% endfor %}
    </section>
</body>

</html>